{% extends "./padre.html" %}

{% block titulo %}

Acerca de Federico De Meco

{% endblock %}

{% block descripcion2 %}

<p>Nací en Buenos Aires, Argentina, el 15 de marzo de 1992.</p>
<p>Siempre me gustaron los videojuegos (de consola), desde chico, la pc en ese momento no me llamaba tanto la atencion,
    al menos hasta que tuve la primer pc, no se que modelo era pero recuerdo que tenia windows 3.1, aunque los juegos los ejecutaba en DOS,
    ya que no entendia mucho el windows 3.1, estaba acostumbrado al windows 98.</p>
<p>Mucho tiempo despues tuve una celeron dual core, windows XP, y ya empezaba a amigarme mas con la pc, recuerdo que habia un juego que era de Dragon ball tipo
    counter strike, que tenia varios MODDS, y para instalarlos, habia algunos que tenian sus instaladores pero otros tenia que entrar al C:, buscar el directorio
    y empezar a reemplazar o agregar archivos en carpetas determinadas, ahi es donde me fui amigando mas y me fue gustando aún mas la PC, aunque todavia no pensaba mucho en la informatica en si.</p>
<p>Fui a un colegio tecnico, especializado en maquinas-herramientas, aprendí muchas cosas, pero algo que hoy me llama la atencion fue el Excel, en ese momento me enseñaron a usarlo,
    pero yo decia "para que me va a servir esto?" las pocas formulas que nos enseñaban era para sumar, restar, etc.</p>
<p>Terminé el secundario, empecé a trabajar en una fabrica de implantes quirurgicos, manejaba un centro de mecanizado CNC, estuve trabajando unos meses allí, luego cambié de rubro,
    comencé a trabajar en un call center como operador tecnico de una empresa de telefonia/internet, la gente se comunicaba con nosotros para cambiar la clave del Wi-Fi, o simplemente querian
    que funcione el servicio(la mayoria de los casos).</p>
<p>Al poco tiempo volvi a cambiar de rubro, esta vez habia ingresado en una pulvimetalurgica, comprimiamos polvo metalico para crear filtros de aire o aceite, silenciadores de aire, etc.
    Aprendi mucho sobre procesos, puesta en marcha de las maquinas, etc.</p>
<p>Me quedé allí durante 2 años, ya tenia 25 años, pero cambie de trabajo, por uno mejor pago, sabia que no me iba a gustar demasiado pero era mucho mejor pago y menos insalubre,
    comencé a hacer mantenimiento de equipos de aire acondicioandos cetrales en una cadena de Bancos, pero eso no me hacía muy feliz, finalmente me quedé sin trabajo y un amigo me recomendó
    en una consultora de mercado libre, para hacer atencion al cliente, no me agradaba demasiado volver a la atencion al cliente, pero necesitaba el trabajo.</p>
<p>Comencé como un operador de reclamos, contestaba los reclamos de unos vendedores de Mercado Libre, y como me aburria contestando unos pocos reclamos, comencé a analizarlos,
    a entender porqué se abrian, cuantos reclamos recibía cada producto, cual era la falla mas comun en cada producto, y por su puesto, tuve que recurrir al excel, esa pregunta que me habia hecho hacia unos cuantos años
    por fin la pude contestar, para esto seria el excel, para ordenar la informacion por decirlo de alguna manera.</p>
<p>Un tiempo despues, mi jefe me habló de una herramienta llamada Power BI, la cual comencé a investigar y en base al analisis que hacia sobre los reclamos, hacia informes,
    Así me converti en el supervisor del area de reclamos, y mas adelante, el supervisor de Post Venta.</p>
<p>Con el tiempo, comencé a cansarme, queria mas, y la post venta la veria muy aburrida, monotona, se abrió un deposito en la empresa y fui a supervisarlo, comencé a ver procesos,
    aportar ideas, si bien habia alguna herramienta para controlar los envios que salian del deposito, no habia ningun tipo de comprobante, y no habia tampoco mucho tiempo en el dia a dia,
    como para hacer uno con el detalle de los envios, por eso comencé a hacer cursos de programacion y así salió mi primer script, que agarraba un excel de envios y lo transformaba en unos
    PDF dividos por chofer, cantidad de envios y un detalle con los paquetes, despues hice otro script para hacer un pdf con las devoluciones que debe cada chofer.</p>
<p>Hoy por hoy, sigo con la parte de deposito/logista pero tambien estoy desarrollando el area de sistemas, para darle apoyo a todos los sectores, con lo que necesitan.
    Me hubiera gustado darme cuenta mucho antes de lo que realmente me gustaba, pero todo va a su tiempo, lo importante es el crecimiento continuo</p>


{% endblock %}